<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/product-create" enctype="multipart/form-data">
        <input type="text" name="ProductName" placeholder="Enter  categoryName"><br>
        <input type="text" name="ProductCategory" placeholder="Enter ProductCategory"><br>
        <input type="text" name="ProductSku" placeholder="Enter  ProductSku"><br>
        <input type="text" name="ProductStatus" placeholder="Enter ProductStatus"><br>
        <input type="text" name="ProductDescribtion" placeholder="Enter  ProductDescribtion"><br>
        <input type="number" name="ProductPrice" placeholder="Enter ProductPrice"><br>
        <input type="file" name="ProductImage" placeholder="Pick Image">

        <input type="submit">
    </form>
</body>

</html>